.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 5px;
    border-radius: 25px;
  
  }
  
  body {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
  }
  